<form class='snack_search' action='/snacks/new' method='POST'>
	<input type='text' name='search_terms' placeholder='...'>
	<input type='submit' value="Search">
</form>

<% if @search_results %>
	<% @search_results.each do |found_snack| %>
		<%= found_snack.name %>
		<form action='/snacks' method='POST'>
			<input type='submit' value='Stock Snack'>
		</form> 
	<% end %>
<% end %>