<form class='snack_search' action='/snacks/new' method='POST'>
	<input type='text' name='search_terms' placeholder='...'>
	<input type='submit' value="Search">
</form>

<% if @search_results %>
	<% @search_results.each do |found_snack| %>
		<form action='/snacks' method='POST'>
			<%= found_snack["name"] %>
			<input type='hidden' name='ndbno' value=<%= "'" + found_snack["ndbno"] + "'" %> >
			<input type='submit' value='Stock Snack'>
		</form>
	<% end %>
<% end %>
